@import url("https://fonts.googleapis.com/css2?family=REM:wght@300&display=swap");

* {
  margin: 0;
  outline: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "REM", sans-serif;
}

header {
  display: flex;
  margin-top: 3rem;
  margin-left: 15rem;
}

.header-img {
  width: 15%;
}

header h1 {
  font-size: 2.5rem;
  margin-left: 2rem;
  margin-top: 0.5rem;
}
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  position: relative;
  top: 1rem;
}
.item-input {
  border: none; /* Removes the default border */
  position: relative;
  top: 2.5rem;
  border-bottom: 2px solid gray;
  height: 30px;
  width: 350px;
  font-size: 1.5rem;
  margin-left: 10rem;
}
.error-input {
  position: relative;
  left: 15rem;
  font-size: 1.2rem;
}
form {
  display: flex;
  margin-left: 5rem;
}

.filter-item {
  border: none;
  margin-top: 1rem;
  margin-left: 15rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-bottom: 4px dotted rgb(65, 65, 65);
  width: 40%;
}

.items-section {
  font-size: 1.2rem;
  margin-left: 10rem;
}
.item-list {
  list-style-type: none;
  margin-top: 3rem;
  width: 70%;
}
.items {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  margin-top: 1rem;
}
.action-btns {
  cursor: pointer;
  position: relative;
  bottom: 1rem;
}

.clear-btn {
  position: relative;
  left: 45%;
  margin-top: 5rem;
  box-shadow: 3px 4px 0px 0px #899599;
  background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  background-color: #ededed;
  border-radius: 15px;
  border: 1px solid #d6bcd6;
  display: inline-block;
  cursor: pointer;
  color: #3a8a9e;
  font-family: Arial;
  font-size: 17px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #e1e2ed;
}
.clear-btn:hover {
  background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
  background-color: #bab1ba;
}
.clear-btn:active {
  position: relative;
  top: 0.5px;
  transition: all 500ms ease-in;
}

footer {
  margin-top: 30rem;
  text-align: center;
}
